body{font-family:"Myriad Pro",Frutiger;
font-size:1.4em;}
ul{margin:0;
padding:0;
list-style-type:none;}
li{display:block;
}
a{display:block;
width:200px;
height:40px;
line-height:40px;
color:#000;
text-decoration:none;
background:#94b8e9 url(1.jpg) no-repeat left bottom;
text-indent:50px;
text-transform:uppercase;
margin:auto;}
a:hover, .selected a{background-color:#369;
background-position:right bottom;
color:#fff;}
.first a{height:40px;
line-height:40px;}
a:visited{background-position:right top;}